/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

   /* start navbar */
    .navbar-nav .nav-link:hover::after {
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
    }

    .navbar-nav .nav-link.active::after {
        background-color: #7C3AED;
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
    }
   /* End navbar */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
     /* Start navbar */
    .navbar-nav .nav-link:hover::after {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
    }

    .navbar-nav .nav-link.active::after {
        background-color: #7C3AED;
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
    }
    /* End navbar */
    /*  Start header */
    .header-heading {
        width: 100%;
        max-width: 80%;
        margin-inline: auto;
    }

    .properties-form {
        width: 100%;
        max-width: 80%;
        margin-inline: auto;
    }

    .Experience {
        width: 100%;
        max-width: 80%;
        margin-inline: auto;
    }

   /* End  header */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}